*.iml
.gradle
/local.properties
/.idea/caches
/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/.idea/caches/build_file_checksums.ser
app/.idea/codeStyles/Project.xml
app/.idea/libraries/Gradle__androidx_annotation_annotation_1_0_2_jar.xml
app/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_0_2_aar.xml
app/.idea/libraries/Gradle__androidx_arch_core_core_common_2_0_0_jar.xml
app/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_browser_browser_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_collection_collection_1_0_0_jar.xml
app/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_0_alpha2_aar.xml
app/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_0_alpha2_jar.xml
app/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_core_core_1_0_2_aar.xml
app/.idea/libraries/Gradle__androidx_core_core_ktx_1_0_2_aar.xml
app/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_databinding_databinding_adapters_3_5_0_aar.xml
app/.idea/libraries/Gradle__androidx_databinding_databinding_common_3_5_0_jar.xml
app/.idea/libraries/Gradle__androidx_databinding_databinding_runtime_3_5_0_aar.xml
app/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_fragment_fragment_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_legacy_legacy_support_v13_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_0_0_jar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_2_0_aar.xml
app/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_2_0_aar.xml
app/.idea/libraries/Gradle__androidx_test_monitor_1_2_0_aar.xml
app/.idea/libraries/Gradle__androidx_test_runner_1_2_0_aar.xml
app/.idea/libraries/Gradle__androidx_transition_transition_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_0_1_aar.xml
app/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_0_0_aar.xml
app/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
app/.idea/libraries/Gradle__com_crashlytics_sdk_android_answers_1_4_7_aar.xml
app/.idea/libraries/Gradle__com_crashlytics_sdk_android_beta_1_2_10_aar.xml
app/.idea/libraries/Gradle__com_crashlytics_sdk_android_crashlytics_2_10_1_aar.xml
app/.idea/libraries/Gradle__com_crashlytics_sdk_android_crashlytics_core_2_7_0_aar.xml
app/.idea/libraries/Gradle__com_facebook_android_facebook_common_5_4_0_aar.xml
app/.idea/libraries/Gradle__com_facebook_android_facebook_core_5_4_0_aar.xml
app/.idea/libraries/Gradle__com_facebook_android_facebook_login_5_4_0_aar.xml
app/.idea/libraries/Gradle__com_github_bumptech_glide_annotations_4_9_0_jar.xml
app/.idea/libraries/Gradle__com_github_bumptech_glide_disklrucache_4_9_0_jar.xml
app/.idea/libraries/Gradle__com_github_bumptech_glide_gifdecoder_4_9_0_aar.xml
app/.idea/libraries/Gradle__com_github_bumptech_glide_glide_4_9_0_aar.xml
app/.idea/libraries/Gradle__com_github_ceryle_SegmentedButton_v2_0_2_aar.xml
app/.idea/libraries/Gradle__com_github_florent37_expansionpanel_1_2_2_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_ads_identifier_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_auth_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_auth_api_phone_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_auth_base_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_base_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_location_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_maps_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_17_1_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_api_17_1_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_base_17_1_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_impl_17_1_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_sdk_17_1_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_sdk_api_17_1_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_places_placereport_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_stats_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_material_material_1_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_auto_value_auto_value_annotations_1_6_3_jar.xml
app/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
app/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_2_jar.xml
app/.idea/libraries/Gradle__com_google_dagger_dagger_2_21_jar.xml
app/.idea/libraries/Gradle__com_google_dagger_dagger_android_2_21_aar.xml
app/.idea/libraries/Gradle__com_google_dagger_dagger_android_support_2_21_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_analytics_17_1_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_common_18_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_core_17_1_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_iid_19_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_iid_interop_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_measurement_connector_18_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_zxing_core_3_3_3_jar.xml
app/.idea/libraries/Gradle__com_googlecode_libphonenumber_libphonenumber_8_4_1_jar.xml
app/.idea/libraries/Gradle__com_parse_bolts_bolts_android_1_4_0_jar.xml
app/.idea/libraries/Gradle__com_parse_bolts_bolts_applinks_1_4_0_jar.xml
app/.idea/libraries/Gradle__com_parse_bolts_bolts_tasks_1_4_0_jar.xml
app/.idea/libraries/Gradle__com_readystatesoftware_systembartint_systembartint_1_0_4_jar.xml
app/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
app/.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_3_8_1_jar.xml
app/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_10_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_okio_okio_1_14_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_retrofit2_adapter_rxjava2_2_4_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_4_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_4_0_jar.xml
app/.idea/libraries/Gradle__io_fabric_sdk_android_fabric_1_4_8_aar.xml
app/.idea/libraries/Gradle__io_reactivex_rxjava2_rxandroid_2_1_1_aar.xml
app/.idea/libraries/Gradle__io_reactivex_rxjava2_rxjava_2_2_6_jar.xml
app/.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
app/.idea/libraries/Gradle__junit_junit_4_12_jar.xml
app/.idea/libraries/Gradle__lt_neworld_spanner_1_0_0_aar.xml
app/.idea/libraries/Gradle__me_shaohui_advancedluban_library_1_3_5_aar.xml
app/.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0_jar.xml
app/.idea/libraries/Gradle__net_yslibrary_keyboardvisibilityevent_keyboardvisibilityevent_2_3_0_aar.xml
app/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
app/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
app/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
app/.idea/libraries/Gradle__org_jetbrains_annotations_13_0_jar.xml
app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_3_50_jar.xml
app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_reflect_1_3_50_jar.xml
app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_50_jar.xml
app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_50_jar.xml
app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_50_jar.xml
app/.idea/libraries/Gradle__org_reactivestreams_reactive_streams_1_0_2_jar.xml
app/.idea/assetWizardSettings.xml
app/.idea/encodings.xml
app/.idea/gradle.xml
app/.idea/misc.xml
app/.idea/modules.xml
app/.idea/runConfigurations.xml
app/.idea/vcs.xml
app/.idea/workspace.xml
app/.idea/
